html {
  background-color: #DCE0E8;
  font-family: "OpenSans";
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: auto;
}
table.boxed {
    border: 2px solid black;
	margin: 5 5 5 5;
	background-color: #F0EAD6;
}

table.feature_area {
    border: 2px solid black;
	margin: 5 5 5 5;
	background-color: #E7DFDD;
	min-height: 280px;
}

td, th {

    border: none;
    text-align: center;
    word-wrap: break-word;
}

th.feature_area {
    border: none;
    text-align: center;
	background-color: #3C3B3B;
	color: #FFFFFF;
	white-space: nowrap;
}
table.feature_set {
    border: 2px solid black;
    border-spacing: 0px 0px;
	margin: 15 15 15 15;
    text-align: center;
    min-width: 125px;
    max-width: 125px;
    min-height: 150px;
    max-height: 150px;
    table-layout:fixed;
	box-shadow: -5px -5px grey;
}

td.feature_set {
    border-bottom: 1px solid black;
    text-align: center;
    word-wrap: break-word;
}

td.progress_bar {
    height: 15;
}

td.in_progress {
    background-color: #209EC3;
}

td.completed {
    background-color: #92CB05
}

td.not_started {
    background-color: #EFEFEF
}

td.progress_date {
    background-color: #EFEFEF;
}

td.warning {
    background-color: #F95248;
}

td.progress_bar_completed {
    background-color: #00FF00;
    border: 1px solid black;
}

td.ralign {
    text-align: right;
}

td.owner {
	padding-left: 15px;
	padding-right: 15px;
}

div.td_feature_set {
    overflow: hidden;
    width: 125px;
    height: 150px;
}

div.feature_set_name {
    height: 50%;
	font-size: 14px;
}

div.number_of_features {
    height: 35%;
	font-weight: bold;
}

div.percent_complete {
    height: 15%;
}

progress {
    width: 97%;
}
