html {
  font-family: "OpenSans";
}
header.title {
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
}
header.time {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: auto;
}
table.boxed {
    border: 2px solid black;
	margin: 5 5 5 5;
	background-color: #e9ecef;
}

table.feature_area {
    border: 2px solid black;
	margin: 5 5 5 5;
	background-color: rgb(144 146 148);
	min-height: 290px;
}

td, th {

    border: none;
    text-align: center;
    word-wrap: break-word;
}

th.feature_area {
    border: none;
    font-size: 1.1em;
    text-align: center;
	background-color: #3C3B3B;
	white-space: nowrap;
    padding-bottom: 5px;
}
table.feature_set {
    border: 2px solid black;
    color: #212529;
    border-spacing: 0px 0px;
	margin: 15 15 15 15;
    text-align: center;
    min-width: 125px;
    max-width: 125px;
    min-height: 150px;
    max-height: 150px;
    table-layout:fixed;
	box-shadow: -5px -5px grey;
}

td.feature_set {
    border-bottom: 1px solid black;
    text-align: center;
    word-wrap: break-word;
}

td.progress_bar {
    height: 15;
}

td.in_progress {
    background-color: #0a58ca;
    color: white;
}

td.completed {
    background-color: #146c43;
    color: white;
}

td.not_started {
    background-color: #ced4da;
}

td.progress_date {
    background-color: #2d2d2d;
    color:white;
}

td.warning {
    background-color: #b02a37;
    color: white;
}

td.progress_bar_completed {
    background-color: #00FF00;
    border: 1px solid black;
}

td.ralign {
    text-align: right;
}

td.owner {
	padding-left: 15px;
	padding-right: 15px;
}

div.td_feature_set {
    overflow: hidden;
    width: 125px;
    height: 150px;
}

div.feature_set_name {
    height: 50%;
    font-size: 15px;
    font-weight: 600;

}

div.number_of_features {
    height: 35%;
	font-weight: bold;
    font-size: 25px;
}

div.percent_complete {
    height: 15%;
}

progress {
    width: 97%;
}
